<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.mis.masterMapper.LegalPersonMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.mis.masterModel.LegalPerson" >
    <id column="legal_person_id" property="legalPersonId" jdbcType="INTEGER" />
    <result column="legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="legal_person_code" property="legalPersonCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_code" property="createCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_update_code" property="lastUpdateCode" jdbcType="VARCHAR" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    legal_person_id, legal_person_name, legal_person_code, status, create_code, create_date, 
    last_update_code, last_update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from legal_person
    where legal_person_id = #{legalPersonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from legal_person
    where legal_person_id = #{legalPersonId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.mis.masterModel.LegalPerson" >
    insert into legal_person (legal_person_id, legal_person_name, legal_person_code, 
      status, create_code, create_date, 
      last_update_code, last_update_date)
    values (#{legalPersonId,jdbcType=INTEGER}, #{legalPersonName,jdbcType=VARCHAR}, #{legalPersonCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createCode,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{lastUpdateCode,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.mis.masterModel.LegalPerson" >
    insert into legal_person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="legalPersonId != null" >
        legal_person_id,
      </if>
      <if test="legalPersonName != null" >
        legal_person_name,
      </if>
      <if test="legalPersonCode != null" >
        legal_person_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createCode != null" >
        create_code,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastUpdateCode != null" >
        last_update_code,
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="legalPersonId != null" >
        #{legalPersonId,jdbcType=INTEGER},
      </if>
      <if test="legalPersonName != null" >
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCode != null" >
        #{legalPersonCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateCode != null" >
        #{lastUpdateCode,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.mis.masterModel.LegalPerson" >
    update legal_person
    <set >
      <if test="legalPersonName != null" >
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonCode != null" >
        legal_person_code = #{legalPersonCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createCode != null" >
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateCode != null" >
        last_update_code = #{lastUpdateCode,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDate != null" >
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where legal_person_id = #{legalPersonId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsbg.mis.masterModel.LegalPerson" >
    update legal_person
    set legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      legal_person_code = #{legalPersonCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_code = #{createCode,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_code = #{lastUpdateCode,jdbcType=VARCHAR},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where legal_person_id = #{legalPersonId,jdbcType=INTEGER}
  </update>
</mapper>