<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.mapper.EperRoleMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.ecosys.model.EperRole" >
    <id column="prid" property="prid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    prid, pid, rid, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eper_role
    where prid = #{prid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eper_role
    where prid = #{prid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.ecosys.model.EperRole" >
    insert into eper_role (prid, pid, rid, 
      remark)
    values (#{prid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.ecosys.model.EperRole" >
    insert into eper_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prid != null" >
        prid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prid != null" >
        #{prid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.ecosys.model.EperRole" >
    update eper_role
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where prid = #{prid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsbg.ecosys.model.EperRole" >
    update eper_role
    set pid = #{pid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where prid = #{prid,jdbcType=INTEGER}
  </update>
  <select id="selectPidByRid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
   SELECT e.`pid` FROM eper_role AS e WHERE e.`rid`=#{rid,jdbcType=INTEGER};
  </select>
  <select id="selectPridByRid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
   SELECT e.`prid` FROM eper_role AS e WHERE e.`rid`=#{rid,jdbcType=INTEGER};
  </select>
  <update id="updatePowerByPrid" parameterType="java.lang.Object" >
    UPDATE eper_role AS r SET r.`pid`= #{pid} WHERE r.`prid`=#{prid}
  </update>
</mapper>