<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.mapper.EpermissionMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.ecosys.model.Epermission" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, permission
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from epermission
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from epermission
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.ecosys.model.Epermission" >
    insert into epermission (pid, permission)
    values (#{pid,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.ecosys.model.Epermission" >
    insert into epermission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="permission != null" >
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.ecosys.model.Epermission" >
    update epermission
    <set >
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsbg.ecosys.model.Epermission" >
    update epermission
    set permission = #{permission,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <select id="selectPowerDetailByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT e.`pid`,e.`permission` FROM epermission e WHERE e.`pid` IN
    <foreach item="pid" index="index" collection="list"   open="(" separator="," close=")">
    #{pid}
    </foreach>
  </select>
</mapper>