<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.mapper.EuserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.ecosys.model.EuserRole" >
    <id column="urid" property="urid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="rid" property="rid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    urid, uid, rid, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from euser_role
    where urid = #{urid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from euser_role
    where urid = #{urid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.ecosys.model.EuserRole" >
    insert into euser_role (urid, uid, rid, 
      remark)
    values (#{urid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.ecosys.model.EuserRole" >
    insert into euser_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="urid != null" >
        urid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="rid != null" >
        rid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="urid != null" >
        #{urid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.ecosys.model.EuserRole" >
    update euser_role
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rid != null" >
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where urid = #{urid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsbg.ecosys.model.EuserRole" >
    update euser_role
    set uid = #{uid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where urid = #{urid,jdbcType=INTEGER}
  </update>
  <select id="selectEuserInfo"  parameterType="String" resultType="com.tsbg.ecosys.model.EuserRole">
    SELECT rid,remark FROM euser_role AS r LEFT JOIN euser_info i ON r.`uid`=i.`uid` WHERE i.`user_code`= #{userCode,jdbcType=VARCHAR}
  </select>
  <select id="selectRidByUid"  parameterType="int" resultType="int">
    SELECT r.`rid` FROM euser_role AS r WHERE r.`uid`=#{uid,jdbcType=INTEGER};
  </select>
</mapper>