<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.mapper.ProjectqfMapper" >
    <!-- 查询反馈、处理、文件等信息-->
    <select id="selectProjectqfall" resultType="com.tsbg.ecosys.model.bag.ProjectqfPackage">
      select qf.question_feedback_id AS questionFeedbackId,qf.question_name AS questionName,
      qf.question_describe AS questionDescribe,qf.user_code AS userCode,qf.user_name AS userName,
      qf.user_ext AS userExt,qf.user_email_address AS userEmailAddress,qf.user_department AS userDepartment,
      qf.remark AS remarka,qf.application_date AS applicationDate,qf.apply_status_id AS applyStatusId,
      qf.proj_id AS projIda,qt.pro_name AS proName from question_feedback AS qf LEFT JOIN project AS qt ON qf.proj_id=qt.proj_id
   </select>

    <!-- 分页查询反馈、处理、文件等信息-->
    <select id="selectProjectsybase" resultType="com.tsbg.ecosys.model.bag.ProjectqfPackage">
        select qf.question_feedback_id AS questionFeedbackId,qf.question_name AS questionName,
        qf.question_describe AS questionDescribe,qf.user_code AS userCode,qf.user_name AS userName,
        qf.user_ext AS userExt,qf.user_email_address AS userEmailAddress,qf.user_department AS userDepartment,
        qf.remark AS remarka,qf.application_date AS applicationDate,qf.apply_status_id AS applyStatusId,
        qf.proj_id AS projIda,qt.pro_name AS proName from question_feedback AS qf LEFT JOIN project AS qt ON qf.proj_id=qt.proj_id
    </select>

</mapper>