<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.mapper.StaffInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.ecosys.model.StaffInfo" >
    <id column="staff_id" property="staffId" jdbcType="INTEGER" />
    <result column="staff_code" property="staffCode" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
    <result column="factory_location" property="factoryLocation" jdbcType="VARCHAR" />
    <result column="BG" property="bg" jdbcType="VARCHAR" />
    <result column="BU" property="bu" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="depart_code" property="departCode" jdbcType="VARCHAR" />
    <result column="cost_code" property="costCode" jdbcType="VARCHAR" />
    <result column="legal_person" property="legalPerson" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="email_address" property="emailAddress" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    staff_id, staff_code, staff_name,factory_location,BG, BU, department, depart_code, cost_code,legal_person,gender,
    phone_number, email_address, create_time, update_time, creater, updater, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from staff_info
    where staff_id = #{staffId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from staff_info
    where staff_id = #{staffId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.ecosys.model.StaffInfo" >
    insert into staff_info (staff_id, staff_code, staff_name,factory_location,
      BG, BU, department,
      depart_code, cost_code,legal_person,gender,
      phone_number, email_address, create_time,
      update_time, creater, updater,
      status)
    values (#{staffId,jdbcType=INTEGER}, #{staffCode,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR},#{factoryLocation,jdbcType=VARCHAR},
      #{bg,jdbcType=VARCHAR}, #{bu,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},
      #{departCode,jdbcType=VARCHAR}, #{costCode,jdbcType=VARCHAR},#{legalPerson,jdbcType=VARCHAR},#{gender,jdbcType=INTEGER},
      #{phoneNumber,jdbcType=VARCHAR}, #{emailAddress,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
      #{updateTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.ecosys.model.StaffInfo" >
    insert into staff_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="staffCode != null" >
        staff_code,
      </if>
      <if test="staffName != null" >
        staff_name,
      </if>
      <if test="factoryLocation != null" >
        factory_location,
      </if>
      <if test="bg != null" >
        BG,
      </if>
      <if test="bu != null" >
        BU,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="departCode != null" >
        depart_code,
      </if>
      <if test="costCode != null" >
        cost_code,
      </if>
      <if test="legalPerson != null" >
        legal_person,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="emailAddress != null" >
        email_address,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updater != null" >
        updater,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="staffId != null" >
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffCode != null" >
        #{staffCode,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="factoryLocation != null" >
        #{factoryLocation,jdbcType=VARCHAR},
      </if>
      <if test="bg != null" >
        #{bg,jdbcType=VARCHAR},
      </if>
      <if test="bu != null" >
        #{bu,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null" >
        #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="costCode != null" >
        #{costCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="emailAddress != null" >
        #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.ecosys.model.StaffInfo" >
    update staff_info
    <set >
      <if test="staffCode != null" >
        staff_code = #{staffCode,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        staff_name = #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="factoryLocation != null" >
        factory_location = #{factoryLocation,jdbcType=VARCHAR},
      </if>
      <if test="bg != null" >
        BG = #{bg,jdbcType=VARCHAR},
      </if>
      <if test="bu != null" >
        BU = #{bu,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="departCode != null" >
        depart_code = #{departCode,jdbcType=VARCHAR},
      </if>
      <if test="costCode != null" >
        cost_code = #{costCode,jdbcType=VARCHAR},
      </if>
      <if test="legalPerson != null" >
        legal_person = #{legalPerson,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="emailAddress != null" >
        email_address = #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsbg.ecosys.model.StaffInfo" >
    update staff_info
    set staff_code = #{staffCode,jdbcType=VARCHAR},
      staff_name = #{staffName,jdbcType=VARCHAR},
      factory_location = #{factoryLocation,jdbcType=VARCHAR},
      BG = #{bg,jdbcType=VARCHAR},
      BU = #{bu,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      depart_code = #{departCode,jdbcType=VARCHAR},
      cost_code = #{costCode,jdbcType=VARCHAR},
      legal_person = #{legalPerson,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      email_address = #{emailAddress,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where staff_id = #{staffId,jdbcType=INTEGER}
  </update>
  <select id="selectisExistStaffCodeByuserCode"  parameterType="String" resultType="int">
    SELECT COUNT(0) FROM staff_info AS s WHERE s.`staff_code`=#{userCode,jdbcType=VARCHAR};
  </select>
  <select id="selectDepartCodeByuserCode"  parameterType="String" resultType="String">
    SELECT s.`depart_code` FROM staff_info AS s WHERE s.`staff_code`=#{userCode,jdbcType=VARCHAR};
  </select>
</mapper>