<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.ecoMapper.EareaMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.ecosys.ecoModel.Earea" >
    <id column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    area_id, area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from earea
    where area_id = #{areaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from earea
    where area_id = #{areaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.ecosys.ecoModel.Earea" >
    insert into earea (area_id, area)
    values (#{areaId,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.ecosys.ecoModel.Earea" >
    insert into earea
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="area != null" >
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.ecosys.ecoModel.Earea" >
    update earea
    <set >
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tsbg.ecosys.ecoModel.Earea" >
    update earea
    set area = #{area,jdbcType=VARCHAR}
    where area_id = #{areaId,jdbcType=INTEGER}
  </update>
  <select id="selectAreaNoByAreaName" resultType="java.lang.Integer" parameterType="String" >
    SELECT a.`area_id`  FROM earea AS a WHERE a.`area`= #{area,jdbcType=VARCHAR};
  </select>
</mapper>