<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.mis.ecoMapper.MixPackageMapper" >

    <select id="selectAll" resultType="com.tsbg.mis.ecoModel.bag.MixPackage">
        SELECT a.`partner_no` AS partnerNo,a.`partner_name` AS partnerName,a.`partner_date` AS partnerDate,a.`partner_registcapital` AS partnerRegistcapital,
        a.`partner_list` AS partnerList,a.`partner_scale` AS partnerScale,a.`partner_addr` AS partnerAddr,a.`partner_webddr` AS partnerWebddr,
        a.`partner_tech` AS partnerTech,a.`partner_product` AS partnerProduct,a.`partner_channel` AS partnerChannel,a.`partner_turnover` AS partnerTurnover,
        a.`partner_region` AS partnerRegion,a.`partner_industry` AS partnerIndustry,a.`status` AS STATUS,a.`del_status` AS delStatus,a.`create_time` AS createTime,
        a.`update_time` AS updateTime,a.`creater` AS creater,a.`creater_identity` AS createrIdentity,a.`updater` AS updater,a.`remark` AS remark,
        a.`proj_id` AS projId,b.`coop_id` AS coopId,b.`partner_no` AS partnerNo2,b.`partner_name` AS partnerName2,b.`partner_callintime` AS partnerCallintime,
        b.`partner_BD_owner` AS partnerBdOwner,b.`co_mode` AS coMode,b.`partner_costage` AS partnerCostage,b.`sign_contract` AS signContract,
        b.`contract_date` AS contractDate,b.`entrust` AS entrust,b.`entrust_name` AS entrustName,b.`partner_awarding` AS partnerAwarding,b.`project_name` AS projectName,
        b.`co_type` AS coType,b.`co_progress` AS coProgress,b.`fii_codepartment` AS fiiCodepartment,b.`create_time` AS createTime2,
        b.`update_time` AS updateTime2,b.`creater` AS creater2,b.`updater` AS updater2,b.`status` AS status2,b.`del_status` AS delStatus2,
        b.`remark` AS remark2,c.`contact_id` AS contactId,c.`partner_no` AS partnerNo3,c.`partner_name` AS partnerName3,c.`name` AS NAME,
        c.`title` AS title,c.`gender` AS gender,c.`phone_number` AS phoneNumber,c.`email_address` AS emailAddress,
        c.`create_time` AS createTime3,c.`update_time` AS updateTime3,c.`creater` AS creater3,c.`updater` AS updater3,
        c.`status` AS status3,c.`del_status` AS delStatus3,c.`remark` AS remark3
        FROM epartner AS a
        LEFT JOIN ecooperation AS b
        ON a.`partner_no`=b.`partner_no`
        LEFT JOIN eccontacts AS c
        ON a.`partner_no`=c.`partner_no`
        WHERE a.`status`=0 AND a.`del_status`=0
        <if test="epartner.partnerName != null and epartner.partnerName != ''">
            and a.`partner_name` LIKE CONCAT('%', #{epartner.partnerName}, '%')
        </if>
        <if test="epartner.partnerProduct != null and epartner.partnerProduct != ''">
            and a.`partner_product` LIKE CONCAT('%', #{epartner.partnerProduct}, '%')
        </if>
        <if test="epartner.partnerRegion != null and epartner.partnerRegion != ''">
            and a.`partner_region` LIKE CONCAT('%', #{epartner.partnerRegion}, '%')
        </if>
        <if test="epartner.partnerIndustry != null and epartner.partnerIndustry  != ''">
            and a.`partner_industry` LIKE CONCAT('%', #{epartner.partnerIndustry}, '%')
        </if>
        <if test="eccontacts.name != null and eccontacts.name  != ''">
            and c.`name` LIKE CONCAT('%', #{eccontacts.name}, '%')
        </if>
   </select>

</mapper>