<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tsbg.ecosys.ecoMapper.QuestionHandleMapper" >
  <resultMap id="BaseResultMap" type="com.tsbg.ecosys.ecoModel.QuestionHandle" >
    <id column="question_handle_id" property="questionHandleId" jdbcType="INTEGER" />
    <result column="question_feedback_id" property="questionFeedbackId" jdbcType="INTEGER" />
    <result column="handle_code" property="handleCode" jdbcType="VARCHAR" />
    <result column="handle_name" property="handleName" jdbcType="VARCHAR" />
    <result column="question_type_id" property="questionType" jdbcType="INTEGER" />
    <result column="is_handle" property="isHandle" jdbcType="INTEGER" />
    <result column="handle_time" property="handleTime" jdbcType="TIMESTAMP" />
    <result column="deadline_date" property="deadlineDate" jdbcType="TIMESTAMP" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="is_complete" property="isComplete" jdbcType="INTEGER" />
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    question_handle_id, question_feedback_id, handle_code, handle_name, question_type_id,
    is_handle, handle_time, deadline_date, start_date, is_complete, proj_id, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from question_handle
    where question_handle_id = #{questionHandleId,jdbcType=INTEGER}
  </select>




  <select id="selectByQuestionFeedBackId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from question_handle
    where question_feedback_id = #{questionFeedbackId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question_handle
    where question_handle_id = #{questionHandleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tsbg.ecosys.ecoModel.QuestionHandle" >
    insert into question_handle (question_handle_id, question_feedback_id, 
      handle_code, handle_name, question_type_id,
      is_handle, handle_time, deadline_date, 
      start_date, is_complete, proj_id, 
      remark)
    values (#{questionHandleId,jdbcType=INTEGER}, #{questionFeedbackId,jdbcType=INTEGER}, 
      #{handleCode,jdbcType=VARCHAR}, #{handleName,jdbcType=VARCHAR}, #{questionType,jdbcType=INTEGER}, 
      #{isHandle,jdbcType=INTEGER}, #{handleTime,jdbcType=TIMESTAMP}, #{deadlineDate,jdbcType=TIMESTAMP}, 
      #{startDate,jdbcType=TIMESTAMP}, #{isComplete,jdbcType=INTEGER}, #{projId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tsbg.ecosys.ecoModel.QuestionHandle" >
    insert into question_handle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionHandleId != null" >
        question_handle_id,
      </if>
      <if test="questionFeedbackId != null" >
        question_feedback_id,
      </if>
      <if test="handleCode != null" >
        handle_code,
      </if>
      <if test="handleName != null" >
        handle_name,
      </if>
      <if test="questionType != null" >
        question_type_id,
      </if>
      <if test="isHandle != null" >
        is_handle,
      </if>
      <if test="handleTime != null" >
        handle_time,
      </if>
      <if test="deadlineDate != null" >
        deadline_date,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="isComplete != null" >
        is_complete,
      </if>
      <if test="projId != null" >
        proj_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionHandleId != null" >
        #{questionHandleId,jdbcType=INTEGER},
      </if>
      <if test="questionFeedbackId != null" >
        #{questionFeedbackId,jdbcType=INTEGER},
      </if>
      <if test="handleCode != null" >
        #{handleCode,jdbcType=VARCHAR},
      </if>
      <if test="handleName != null" >
        #{handleName,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=INTEGER},
      </if>
      <if test="isHandle != null" >
        #{isHandle,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadlineDate != null" >
        #{deadlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isComplete != null" >
        #{isComplete,jdbcType=INTEGER},
      </if>
      <if test="projId != null" >
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tsbg.ecosys.ecoModel.QuestionHandle" >
    update question_handle
    <set >
      <if test="questionFeedbackId != null" >
        question_feedback_id = #{questionFeedbackId,jdbcType=INTEGER},
      </if>
      <if test="handleCode != null" >
        handle_code = #{handleCode,jdbcType=VARCHAR},
      </if>
      <if test="handleName != null" >
        handle_name = #{handleName,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        question_type_id = #{questionType,jdbcType=INTEGER},
      </if>
      <if test="isHandle != null" >
        is_handle = #{isHandle,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        handle_time = #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadlineDate != null" >
        deadline_date = #{deadlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isComplete != null" >
        is_complete = #{isComplete,jdbcType=INTEGER},
      </if>
      <if test="projId != null" >
        proj_id = #{projId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where question_handle_id = #{questionHandleId,jdbcType=INTEGER}
  </update>




  <update id="updateByFeedBackIdSelective" parameterType="com.tsbg.ecosys.ecoModel.QuestionHandle" >
    update question_handle
    <set >
      <if test="handleCode != null" >
        handle_code = #{handleCode,jdbcType=VARCHAR},
      </if>
      <if test="handleName != null" >
        handle_name = #{handleName,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        question_type_id = #{questionType,jdbcType=INTEGER},
      </if>
      <if test="isHandle != null" >
        is_handle = #{isHandle,jdbcType=INTEGER},
      </if>
      <if test="handleTime != null" >
        handle_time = #{handleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deadlineDate != null" >
        deadline_date = #{deadlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isComplete != null" >
        is_complete = #{isComplete,jdbcType=INTEGER},
      </if>
      <if test="projId != null" >
        proj_id = #{projId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where question_feedback_id = #{questionFeedbackId,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.tsbg.ecosys.ecoModel.QuestionHandle" >
    update question_handle
    set question_feedback_id = #{questionFeedbackId,jdbcType=INTEGER},
      handle_code = #{handleCode,jdbcType=VARCHAR},
      handle_name = #{handleName,jdbcType=VARCHAR},
      question_type_id = #{questionType,jdbcType=INTEGER},
      is_handle = #{isHandle,jdbcType=INTEGER},
      handle_time = #{handleTime,jdbcType=TIMESTAMP},
      deadline_date = #{deadlineDate,jdbcType=TIMESTAMP},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      is_complete = #{isComplete,jdbcType=INTEGER},
      proj_id = #{projId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where question_handle_id = #{questionHandleId,jdbcType=INTEGER}
  </update>
</mapper>